# Large data files
q.json
database_X.npy
database_y.npy
q.pkl
qtable.lmdb-lock
qtable.lmdb
backup_qtable.lmdb
fixed_qtable.lmdb
fixed_qtable.lmdb-lock
qtable_shrink.lmdb
expanded_X_min2.npy
expanded_y_min2.npy
mixed_X_v1.npy
mixed_y_v1.npy
data/qtable/
data/processed/
models/
artifacts/
venv/
# Virtual environment
.venv/

# Python cache files
__pycache__/
*.py[cod]
